/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;  
    flex-direction: column;
}

h1 {
    margin-bottom: 20px;
    font-weight: bold;
    text-align: center;
    color: #333;
}

/* Estilo do formulário */
form {
    background: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px; /* Max largura do formulário */
    text-align: left; /* Ajustando alinhamento do conteúdo do formulário */
}

/* Estilos label e inputs */
label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #333;
}

input[type="text"],
input[type="tel"],
input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;  /* Aumentando o espaçamento entre os campos */
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

/* Estilo do botão */
button {
    background-color: #28a745;
    color: white;
    font-weight: bold;
    border: none;
    padding: 12px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
    font-size: 16px; /* Ajustando o tamanho da fonte */
}

button:hover {
    background-color: #218838;
}

/* Estilo dos resultados */
.resultado {
    background: #fff;
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

/* Link */
a {
    display: block;
    margin-top: 20px;
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
    text-align: center; 
}

a:hover {
    text-decoration: underline;
}